.liseré {
  background-color: #feca07;
}

.left-bar-title {
  background-color: #404040;
  color: #feca07;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.left-bar-paragraph {
  padding: 7% 10% 10% 10%;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2.5px solid #daaf11;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.icone > i {
  display: flex;
  justify-content: center;
  border: 2px solid #4a4a4a;
  border-radius: 50%;
  font-size: 37px;
  width: 65px;
  height: 65px;
  align-items: center;
}

.icone {
  display: flex;
  justify-content: space-around;
  font-size: 3em;
  margin: 30px 40px;
}

h1 span {
  color: #feca07;
  font-weight: bold;
}

h3 span {
  text-decoration: underline;
  text-decoration-color: #feca07;
  text-underline-position: under;
}

h1 {
  padding-top: 7%;
  font-size: 80px;
  font-weight: lighter;
  color: black;
}

h2 {
  border-bottom: 3px solid #feca07;
  color: black;
}

h3 {
  padding-bottom: 8%;
}

.icone-content {
  font-size: 35px;
  padding: 15px;
  margin-right: 20px;
  color: #feca07;
}

.circle {
  font-size: 0.6em;
  margin-right: 20px;
  color: #feca07;
}

.dot-circle {
  margin-right: 20px;
  color: #feca07;
}

.date {
  font-weight: bold;
  color: #4a4a4a;
  display: flex;
  align-items: baseline;
}

.a_propos {
  text-align: justify;
  margin-bottom: 55em;
}

p,
h3,
h4,
h5 {
  color: #4a4a4a;
}

.profile-picture {
  width: 200px;
}

.partie-droite {
  padding-left: 6%;
  padding-right: 4%;
}

.cv-element-content,
.cv-element-date {
  padding-top: 40px;
  padding-bottom: 25px;
}

/* responsive */

@media all and (max-width: 480px) {
  .a_propos {
    margin-bottom: 3em;
  }

  h1 {
    font-size: 32px;
  }

  h3 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }

  .dot-circle {
    margin-right: 3px;
  }

  .circle {
    margin-right: 3px;
  }

  .date {
    font-size: 14px;
  }

  .fa-pencil-alt {
    margin-right: 0px;
  }
}
